/*! @import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "PT Mono";
    src: url("~@/assets/fonts/PTMono-Regular.ttf");
  }


  body {
    font-family: "PT Mono", serif;
  }

  kbd {
    @apply bg-gray-300 rounded border border-gray-500 text-black inline-block font-bold px-1;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-full shadow-inner;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full shadow-inner bg-white bg-opacity-75 hover:bg-opacity-90;
  }

  .text-lionel-purple {
    color: #B122FE;
  }

  .bg-blur {
    backdrop-filter: blur(1rem);
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .game-background {
    @apply absolute;
    @apply bg-repeat;
    @apply bottom-0;
    @apply w-full;
    @apply bg-cover;
    @apply bg-contain;
    height: 100vh;
    z-index: -1;
  }

  .scroll-down-background-7 {
    animation: scrollDown 7s linear infinite;
  }

  .scroll-up-background-3 {
    animation: scrollUp 3s linear infinite;
  }

  @keyframes scrollUp {
    0% {
      background-position: 0 100vh;
    }
    100% {
      background-position: 0 0;
    }
  }

  @keyframes scrollDown {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100vh;
    }
  }

  .z-none {
    z-index: -1;
  }
}
