@tailwind base;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "KenVector Future";
    src: url("~@/assets/fonts/kenvector_future.ttf");
  }

  body {
    font-family: "KenVector Future";
    @apply text-xl;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
}

@tailwind components;

@tailwind utilities;
