@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "PT Mono";
    src: url("~@/assets/fonts/PTMono-Regular.ttf");
  }

  body {
    font-family: "PT Mono";
    @apply font-mono;
    @apply transition-all duration-300;
  }

  @screen sm {
    body {
      @apply text-sm;
    }

    h1 {
      @apply text-xl;
    }

    h2 {
      @apply text-lg;
    }

    h3 {
      @apply text-base;
    }
  }

  @screen md {
    h1 {
      @apply text-2xl;
    }

    h2 {
      @apply text-xl;
    }

    h3 {
      @apply text-lg;
    }
  }

  @screen lg {
    body {
      @apply text-lg;
    }

    h1 {
      @apply text-3xl;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }
  }

  @screen xl {
    body {
      @apply text-xl;
    }

    h1 {
      @apply text-4xl;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }
  }

  section {
    @apply my-4;
  }

  kbd {
    @apply bg-gray-300 rounded border border-gray-500 text-black inline-block font-bold px-1;
  }
}

@layer components {
  .card {
    @apply border-2 border-lionel-alternate bg-black bg-opacity-75 rounded-lg;
  }
}

@layer utilities {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .heading {
    font-family: "Gugi", cursive !important;
    color: red;
  }

  .scroll-down-background-7 {
    @apply absolute;
    @apply bg-repeat;
    @apply bottom-0;
    @apply w-full;
    @apply bg-cover;
    @apply bg-contain;
    animation: scrollDown 7s linear infinite;
    height: 100vh;
    z-index: -1;
  }

  .scroll-down-background-60 {
    @apply absolute;
    @apply bg-repeat;
    @apply bottom-0;
    @apply w-full;
    @apply bg-cover;
    @apply bg-contain;
    animation: scrollDown 60s linear infinite;
    height: 100vh;
    z-index: -1;
  }

  @keyframes scrollDown {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100vh;
    }
  }
}
