/*! @import */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }

  kbd {
    @apply bg-gray-300 rounded border border-gray-500 text-black inline-block font-bold px-1;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-full shadow-inner;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full shadow-inner bg-white bg-opacity-75 hover:bg-opacity-90;
  }

  .text-lionel-purple {
    color: #B122FE;
  }

  @responsive {
    .bg-blur {
      backdrop-filter: blur(1rem);
    }
  }

  .game-background {
    @apply absolute;
    @apply bg-repeat;
    @apply bottom-0;
    @apply w-full;
    @apply bg-cover;
    @apply bg-contain;
    height: 100vh;
    z-index: -1;
  }

  .scroll-down-background-7 {
    animation: scrollDown 7s linear infinite;
  }

  .scroll-up-background-3 {
    animation: scrollUp 3s linear infinite;
  }

  @keyframes scrollUp {
    0% {
      background-position: 0 100vh;
    }
    100% {
      background-position: 0 0;
    }
  }

  @keyframes scrollDown {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100vh;
    }
  }

  @for $i from 1 through 4 {
    .-z-#{$i} {
      z-index: $i * -10;
    }
  }

  .z-none {
    z-index: -9999;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
